.navbar-brand span {
  color: rgb(180, 13, 38);
  font-weight: bold;
}

.btn-register {
  background-color: rgb(180, 13, 38);
  color: white;
  font-weight: bold;
}

.btn-register:hover {
  background-color: rgb(180, 13, 38);
}

.cart-icon {
  position: relative;
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #555;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 0.75rem;
}
/* Custom Colors */
.text-orange {
  color: #f97316;
}
.btn-orange {
  background-color: #f97316;
  color: white;
}
.btn-orange:hover {
  background-color: #ea580c;
}

/* Hero Section */
.hero-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 0 1rem;
}
